<h3>All Categories</h3>
{{#each eventCategories}}
  <div class="card">
    <div class="container">

      <h4><b>{{this.name}}</b></h4>
      <p>{{this.description}}</p>

      <a href="/events/categories/{{this._id}}">See all category events</a>
    </div>
  </div>
{{/each}}