<form action="/events/create" method="post">
  <input type="text" name="name" id="name" placeholder="Name" /><br />
  <textarea
    id="description"
    name="description"
    rows="4"
    cols="50"
    placeholder="Write down the description of your event."
  ></textarea>
  <br />
  <select name="location" id="location">
    {{#each countries}}
      <option value="{{this.latlng}}">{{this.name}}</option>
    {{/each}}
  </select><br />
  <input type="datetime-local" name="date" id="date" /><br />

  <select name="event-type">
    {{#each eventCategories}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>

  <button type="submit">Create Event!</button>
</form>