<h2>{{event.name}}</h2>
<img src="{{event.imageUrl}}" alt="" width="250px" />
<h3>{{event.description}}</h3>

<h3>{{event.date}}</h3>

<h4>There are currently
  <span id="myOutput"></span>
  people attending this event.</h4>
<form action="/events/attendance/increase" method="post">
  <button type="submit" id="isAttending">I am going!</button>
</form>