<h2 class="page-title">Register</h2>

<form action="/auth/signup" method="post" id="signup-form">
  <input type="text" name="name" id="name" placeholder="Name" /><br />
  <input
    type="text"
    name="email"
    id="email"
    placeholder="example@example.com"
  /><br />
  <input
    type="password"
    name="password"
    id="password"
    placeholder="password"
  /><br />

  <button type="submit" id="signup-btn">Sign up</button>
</form>

<p class="error-msg">{{errorMessage}}</p>