<h2>Register</h2>

<form action="/auth/signup" method="post">
  <input type="text" name="name" id="name" placeholder="Name" /><br />
  <input
    type="text"
    name="email"
    id="email"
    placeholder="example@example.com"
  /><br />
  <select name="location" id="location">
    {{#each countries}}
      <option value="{{this.alpha2Code}}">{{this.name}}</option>
    {{/each}}
  </select><br />
  <input
    type="password"
    name="password"
    id="password"
    placeholder="password"
  /><br />

  <button type="submit">Sign up</button>
</form>

{{errorMessage}}