* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Helvetica, Arial;
}
.index-section {
  height: 90vh;
  background-image: url("/images/index-bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  height: 10vh;
  background-color: black;
  display: flex;
  align-items: center;
  width: 98.9vw;
  justify-content: center;
}

a {
  text-decoration: none;
}
.nav-link {
  color: white;
  margin-left: 7px;
}
.index-section > p {
  text-align: center;
  margin-top: 10px;
  color: white;
  font-size: 18px;
  width: 370px;
  line-height: 25px;
}
.nav-link:hover {
  border-bottom: 2px solid cyan;
}
h1,
h2,
p {
  color: white;
}
.categories-section {
  background-color: #3c2d6d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.categories-section > h2,
img,
a,
p {
  margin-bottom: 10px;
}

.category-link {
  color: green;
  padding: 5px;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px 4px;
  margin: 0 0 10px 0;
}
/* Here we fix the display of the main p and navbar */
@media (max-width: 400px) {
  .index-section > p {
    width: 310px;
  }
  .header {
    width: 100vw;
  }
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
