* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Helvetica, Arial;
}
body {
  background-color: #3c2d6d;
}
.index-section {
  height: 90vh;
  width: 100vw;
  background-image: url("/images/index-bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  height: 10vh;
  background-color: #26272b;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
}

a {
  text-decoration: none;
}
.nav-link {
  color: white;
  margin-left: 0px;
  display: flex;
}
.index-section > p {
  text-align: center;
  margin-top: 10px;
  color: white;
  font-size: 18px;
  width: 370px;
  line-height: 25px;
}
.nav-link:hover {
  border-bottom: 2px solid cyan;
}
h1,
h2,
p {
  color: white;
}
.categories-section {
  background-color: #3c2d6d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.category > img,
a,
p {
  margin: 0 0 10px 0;
}
.category > h2 {
  margin: 20px 0 5px 0;
}

.category-link {
  color: green;
  padding: 5px;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px 4px;
  margin: 0 0 10px 0;
}
/* Here we fix the display of the main p and navbar */
@media (max-width: 400px) {
  .index-section > p {
    width: 310px;
  }
  .header {
    width: 100vw;
  }
  .navbar {
    margin-top: 1.7vh;
  }
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#signup-form,
#login-form,
#create-event-form {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  align-items: center;
}
.page-title {
  margin-top: 5vh;
  margin-left: 5vw;
}
#name,
#email,
#location,
#password,
#date,
#select-type {
  height: 5vh;
  width: 90vw;
  border: 1px solid green;
  border-radius: 50px 50px;
  padding-left: 10px;
}
#imageUrl {
  border: 1px solid green;
  border-radius: 25px 25px;
  background-color: white;
}
#description {
  margin-top: 15px;
  border: 1px solid green;
  border-radius: 25px 25px;
  padding-left: 5vw;
}
#signup-btn,
#login-btn,
#create-event-btn {
  width: 20vw;
  height: 5vh;
  background-color: whitesmoke;
  color: green;
  border: 1px solid green;
  border-radius: 20px 4px;
}
.error-msg {
  margin: 2.5vh 0 0 5vw;
  font-size: 16px;
  color: red;
  font-weight: 700;
  font-style: italic;
}

#nearYou {
  height: 50vh;
  margin-top: 10px;
}
#createEventMap {
  height: 50vh;
  margin-top: 10px;
}

.pulsating-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;
}

.pulsating-circle:before {
  content: "";
  position: relative;
  display: block;
  width: 300%;
  height: 300%;
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 45px;
  background-color: #01a4e9;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulsating-circle:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

/*Nico styles*/

.card-text {
  color: black;
}

.card-date {
  size: 12px;
}

.card {
  margin: 0 auto;
  background-color: rgba(165, 191, 227, 1);
  width: 70%;
  margin-bottom: 4vh;
}

.btn-primary {
  background-color: rgba(243, 150, 193, 0.87);
}

#event-attendance {
  font-size: 10px;
}
#event-date {
  font-size: 12px;
}

/* .navbar :before {
  content: "|";
  padding: 0 10px;
} */

.nav-icon {
  padding-top: 3px;
  padding-right: 1px;
}

#near-you-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

#event-image {
  height: auto;
  width: auto;
}

/* FOOTER CSS STYLINGS */

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
